# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
coverage/

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
# This is built as main.css and then moved as part of the
# release process.
styles.css
main.css

# Exclude sourcemaps
*.map

# obsidian
data.json
.obsidian

.DS_Store
/src/ui/actions.js
/src/ui/components/AddCalendarSource.js
/test_helpers/AppBuilder.js
/test_helpers/AppBuilder.test.js
/src/calendars/CalDAVCalendar.js
/src/calendars/Calendar.js
/src/ui/calendar.js
/src/types/calendar_settings.js
/src/ui/components/CalendarSetting.js
/src/calendars/DailyNoteCalendar.js
/src/calendars/DailyNoteCalendar.test.js
/src/calendars/EditableCalendar.js
/src/ui/components/EditEvent.js
/src/ui/components/EditEvent.stories.js
/src/ui/event_modal.js
/src/core/EventCache.js
/src/core/EventCache.test.js
/src/core/EventStore.js
/src/core/EventStore.test.js
/test_helpers/FileBuilder.js
/test_helpers/FileBuilder.test.js
/src/calendars/FullNoteCalendar.js
/src/calendars/FullNoteCalendar.test.js
/src/calendars/parsing/ics.js
/src/calendars/parsing/ics.test.js
/src/calendars/ICSCalendar.js
/src/calendars/parsing/caldav/import.js
/src/types/index.js
/src/ui/tasks/index.js
/src/ui/interop.js
/test_helpers/MockVault.js
/__mocks__/obsidian.js
/src/ObsidianAdapter.js
/src/ui/onboard.js
/src/ui/ReactModal.js
/src/calendars/RemoteCalendar.js
/src/types/schema.js
/src/types/schema.test.js
/src/ui/settings.js
/src/calendars/parsing/caldav/transport.js
/src/ui/view.js
